<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    <!-- <h1>Welcome to my weather app...</h1>
    <button class="btn btn-danger"> Hello </button> -->

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.jpg" alt="bhupender" class="img-fluid" title="bhupender yadav">
                        </figure>
    
                        <p>Welcome to my weather app</p>
                        <h1>{{errorMessage}}</h1>
                        <a href="/" target="_bhupender"> <button>Go Back</button> </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer section -->
    {{>footer}}

</body>
</html>