<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    <!-- <h1>Welcome to my weather app...</h1>
    <button class="btn btn-danger"> Hello </button> -->

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/aboutus.jpg" alt="bhupender" class="img-fluid" title="bhupender yadav">
                        </figure>
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my weather app</p>
                        <h1>I am a <span class="text_clr"> DevOps Engineer </span> at GiveIndia.</h1>
                        <a href="https://bhupenderyadav7424.github.io/Bhupender_Portfolio/index.html" target="_bhupender"> <button>About Me</button> </a>
                    </div>                     
                </div>
            </div>
        </div>
    </div>

    <!-- footer section -->
    {{>footer}}

</body>
</html>